@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}


body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
    background-color: #B3C8CF;
    background-size: cover;
   
   

}

.megacontainer {
    background-color: #fff;
    width: 600px;
    padding: 10px;
    box-shadow: 0 10px 5px rgba(0, 0, 0, 0.25), 0 0px 5px rgba(0, 0, 0, 0.22);
    
}


p{
    text-align: center;
    font-size: 2rem;
}

.gonama{
    font-weight: bold;
    font-size: 1em;
    background: linear-gradient(90deg, rgba(2,0,36,1) 10%, rgb(223, 10, 24) 35%, rgba(0,212,255,1) 100%);
    
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.contentext {
    margin: 15px 0;
    padding: 5px;
    border: 1.3px solid #31363F;
    background-color: #2ba8b8;
    color:  white;
    position: relative;
}

h3{
    text-align: center;
    font-weight: 500;
}

.contentext::before , .contentext::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border: 7px solid #f93c0d;
    /
}

.contentext::before {
    top: -1px;
    right: -1px;
    border-left: none;
    border-bottom: none;
    animation: colorchange 20s ease 2s infinite;
    
}

.contentext::after {
    bottom: -1px;
    left: -1px;
    border-top: none;
    border-right: none;
    animation: colorchange2 20s ease 2s infinite;
}


.spaning {
    font-weight: bold;
    text-decoration: 3px underline #418;
    
}

.luck {
   font-size: 1.1rem;
}

@keyframes colorchange2 {
    from {
        border: 7px solid #f93c0d;
        border-top: none;
    border-right: none;
    }

    25% {
        border: 7px solid #FFC94A;
        border-top: none;
    border-right: none;
    }

    50%{
        border: 7px solid #cc289b;
        border-top: none;
    border-right: none;

    }

    75%{
        border: 7px solid #226100;
        border-top: none;
    border-right: none;

    }

    to {
        border: 7px solid black;
        border-top: none;
    border-right: none;
    }


}

@keyframes colorchange {

    from {
        border: 7px solid #f93c0d;
        border-left: none;
    border-bottom: none;
    }

    25% {
        border: 7px solid #FFC94A;
        border-left: none;
    border-bottom: none;
    }

    50%{
        border: 7px solid #cc289b;
        border-left: none;
        border-bottom: none;

    }

    75%{
        border: 7px solid #226100;
        border-left: none;
        border-bottom: none;

    }

    to {
        border: 7px solid black;
        border-left: none;
        border-bottom: none;
    }

} 
    

@media screen and (max-width:640px) {
    .megacontainer {
        width: 93%;
    }
}

.block {
    display: flex;
    flex-direction: column;
}

section {
    justify-content: center;
    display: flex;
    padding: 10px 0;
    border: 1px solid black;
    font-weight: 600;
    margin: 15px 0;
    border-radius: 10px;
    transition: .3s;
    cursor: pointer;
    
}

.but {
    display: flex;
    justify-content: center;
}


button{
    text-align: center;
    border: 0;
    padding: 16px 35px;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 10px;
    
    color: white;
    cursor: pointer;
    transition: .4s;
    background-color: #2d8fe0;
}

button:hover {
    transform: scale(.95);
}



.select {
    color: white;
    background-color: #7E30E1 !important;
    box-shadow: 0 0 3px #7E30E1;
    overflow: hidden;
}


section:hover {
    background-color: #7d30e157;
}

.disabled {
    background-color: rgba(128, 128, 128, 0.735) !important;
    transform: scale(1) !important;
    cursor: not-allowed;
    opacity: .7;
}


.mybody {
    position: relative;
    background-size: cover;
    z-index: -1;
    /* background-position: center; */
    
    
}

.mybody::after{
    content: "";
    position: absolute;
    background-color: #B3C8CF;
    /* background-image: url(../Principal/imgprincip/db.jpg); */
    z-index: -1;
    width: 100%;
    height: 100%;
    opacity: .5;
}

.db {
    background-image: url(../Principal/imgprincip/db.jpg);
}

.na {
    background-image: url(/Principal/imgprincip/na.jpg);
}